<div class="login-container">
  <div class="header">
    <%= link_to 'â†', root_path, class: 'back-link' %>
    <h1>Log In</h1>
    <%= link_to 'Next', new_user_session_path, class: 'next-link' %>
  </div>

  <div class="login-form">
    <%= form_for(resource, as: resource_name, url: session_path(resource_name), html: { class: 'session-form' }) do |f| %>
      <div class="field">
        <%= f.email_field :email, id: 'email', autofocus: true, autocomplete: "email", placeholder: 'Email', class: 'email-input' %>
      </div>

      <div class="field">
        <%= f.password_field :password, id: 'password', autocomplete: "current-password", placeholder: 'Password', class: 'password-input' %>
      </div>

      <div class="actions">
        <%= f.submit "Log in", class: 'submit-button' %>
      </div>
    <% end %>
  </div>
</div>
